/* --------------------------------------------------------------- */
/* == Soft reset                                                   */
/* --------------------------------------------------------------- */

html {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    // transition: all ease-in-out .4s;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: $soft-reset-body-font-family;
  font-size: $soft-reset-body-font-size;
  font-weight: 400;
  line-height: $soft-reset-body-line-height;
  color: $soft-reset-body-color;
  background-color: $soft-reset-body-background;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}

button{
  cursor: pointer;
}