/* --------------------------------------------------------------- */
/* == Typography                                                   */
/* --------------------------------------------------------------- */

h1, .h1-like {
  font-size: rem(36);
  font-weight: 600;
}

h2, .h2-like {
  font-size: rem(28);
  font-weight: 600;
}

h3, .h3-like {
  font-size: rem(24);
  font-weight: 600;
}

h4, .h4-like {
  font-size: rem(20);
  font-weight: 600;
}

h5, .h5-like {
  font-size: rem(18);
  font-weight: 600;
}

h6, .h6-like {
  font-size: rem(16);
  font-weight: 600;
}