/* --------------------------------------------------------------- */
/* == Module button-material                                       */
/* --------------------------------------------------------------- */


/**
* Button style
*/
.btn.material {  
  position: relative;
  
  border-radius: 1.5px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
              0 3px 6px rgba(0, 0, 0, .23);

  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
                0 6px 6px rgba(0, 0, 0, .23);
  }
}


/**
* Wave effect
*/
.wave {
    position: absolute;
    opacity: 0;
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .35);
    -webkit-animation-name: wave;
    animation-name: wave;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


/**
* Keyframes
*/
@-webkit-keyframes wave {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(165);
  }
}
@keyframes wave {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(165);
  }
}