/* --------------------------------------------------------------- */
/* == Module grid                                                  */
/* --------------------------------------------------------------- */

/*------------------------------------*\
    == Wrapper
\*------------------------------------*/

.wrapper{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1600px){
    max-width: 1200px;
  }
  @media (max-width: 540px){
    padding-left: 15px;
    padding-right: 15px;
  }
}


/*------------------------------------*\
    == Display class
\*------------------------------------*/

.table {
  display: table;
  width: 100%;
  
  // .table-fixed
  &-fixed{
    @extend .table;
    table-layout: fixed;
  }
  
  // .table-auto
  &-auto{
    display: table;
    margin-left: auto;
    margin-right: auto;
    
    // .table-auto-fixed
    &-fixed{
      @extend .table-auto;
      table-layout: fixed;
    }
  }
}

.cell {
  display: table-cell;
  vertical-align: middle;

  &.top{
    vertical-align: top;
  }
}

.inbl{
  display: inline-block;
}

.bl{
  display: block;
}

@media (max-width: 540px){
  .table, .table-auto, .cell{
    display: block;
    text-align: center;
  }
}

.text-right{
  text-align: right;
}