/* ---------------------------------------------------------------- /
*                         Module placeholder
* ---------------------------------------------------------------- */


/**
* Create a top placeholder to extend
* ----------------------------------
* Exemple of use :
* @include placeholder($color);
*/
@mixin placeholder($color){

  *::-webkit-input-placeholder {
    color: #{$color};
    font-weight: 300;
    font-style: italic;
    font-size: rem(14);
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: #{$color};
    font-weight: 300;
    font-style: italic;
    font-size: rem(14);
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: #{$color};
    font-weight: 300;
    font-style: italic;
    font-size: rem(14);
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #{$color};
    font-weight: 300;
    font-style: italic;
    font-size: rem(14);
  }

}