/* --------------------------------------------------------------- */
/* == Module scrollbar                                             */
/* --------------------------------------------------------------- */


/**
* If you need to customize the scrollbar
*/

// ::-webkit-scrollbar {  width: 10px;  height: 12px; }
// ::-webkit-scrollbar-thumb {  background: #663d75; }
// ::-webkit-scrollbar-thumb:hover {  background: #7f4584; }
// ::-webkit-scrollbar-track-piece {  background:#fefefe;}